/* .fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productcontainer{
    position: relative;
}  
.productcontainer img{
    width:100%;
}   */
  /* .mlkpro{
       color:#636362;
       font-size:22px;
       line-height:22px;
       margin-bottom:15px;
       width:43%;
       margin:0 auto;
       text-align:center;    
   } */
/*  
.productcontainer a{
    text-decoration: none;
}
  
  .overlay{
    position:absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0,0,0,0.5);
  }
  
  .product:hover .overlay{
    opacity: 1;
  }
  
  .product-name{
    color: wheat;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20%;
  }
  
  .product-price{
    color: wheat;
    font-size: 18px;
  }
  
  .product-details{
    color: wheat;
    font-size: 18px;
  } */

/* product gallery */
#gallery {
  background: #fff;
  padding: 60px 0 0 0;
  overflow: hidden;
}

#gallery .container-fluid {
  padding: 0px;
}

#gallery .gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#gallery .gallery-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#gallery .gallery-item:hover img {
  transform: scale(1.1);
}

#gallery .gallery-item:hover .gallery-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}
.gallery-item {
  position: relative;
}
.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  text-align: center;
}
.gallery-item:hover .product-info {
  display: block;
}
  
  /* coming soon css */
  
  #coming-soon{
    position: relative;
  }
  #coming-soon img{
    width: 100%;
    height: auto;
  }
  .banner-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
  }
  .banner-content h1{
    color: wheat;
    font-size: 6vw;
    margin-bottom: 20px;
  }
  .banner-content h3{
    color: wheat;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.5vw;
    margin-bottom: 40px;
  }
  .progress-bar{
    width:80%;
    height: 10px;
    max-width: 400px;
    background-color: rgb(78, 82, 82);
    margin: 0 auto;
    opacity: 0.8;
    position: relative;
    margin-bottom: 40px;
  }
  .progress-bar span{
    display: block;
    height: 10px;
    background-color: azure;
    animation: fill 1s ease-in-out infinite;
  }
  @keyframes fill{
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
  }
  @media only screen and (max-width:767px){
    .progress-bar{
        width:100%;
    }
  }
  @media only screen and (max-width:576px){
    .progress-bar{
        width:100%;
    }
  }


  /* contact us css */
  #contact {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
    overflow: hidden;
  }
  
  #contact .contact-about h3 {
    font-size: 36px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #d27a00;
  }
  
  #contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    color: #888;
  }
  
  #contact .social-links {
    padding-bottom: 20px;
  }
  
  #contact .social-links a {
    font-size: 18px;
    background: #fff;
    color: #d27a00;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid#c3c8c8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  #contact .social-links a i {
    line-height: 0;
  }
  
  #contact .social-links a:hover {
    background: #8c8f90;
    color: #fff;
  }
  
  #contact .info {
    color: #333333;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #d27a00;
    float: left;
    line-height: 0;
  }
  
  #contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
  }
  
  #contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  #contact .php-email-form input,
  #contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .php-email-form input::focus,
  #contact .php-email-form textarea::focus {
    background-color: #1dc8cd;
  }
  
  #contact .php-email-form button[type=submit] {
    background: linear-gradient(45deg, #ffbf00, #2f3133);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
  }
  
  #contact .php-email-form button[type=submit]:hover {
    cursor: pointer;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* about a product    */
#about {
  padding: 60px 0;
  overflow: hidden;
}

#about .about-img {
  height: 510px;
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content .h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}

#about .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #1dc8cd;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}